<script>
  export let events;
  export let selected;

  let currentIndex = 0;

  function handleClick(e, idx) {		
		currentIndex = idx;
		selected = events[idx];
	}

</script>

<div class="custom-sticky px-20">
  <div class="flex flex-wrap items-center justify-center mb-5">
    {#each events as event, idx}
      
      <button
        id="event-btn"
        type="button"
        class="font-bold text-iwk-red inline-block bg-white border-white border-2 px-10 py-2 rounded-full mx-2 my-2 hover:text-white hover:border-iwk-red hover:bg-black"
        data-active="{ currentIndex == idx ? 'true' : 'false' }"
        on:click={(e) => handleClick(e, idx)}
      >
        Day {idx + 1}
      </button>

    {/each}
  </div>

  <div class="mb-5">
    <p class="font-josefin md:text-2xl text-xl uppercase font-bold w-full text-center text-iwk-green">
      {selected?.date}
    </p>
  </div>
</div>

<style lang="scss">
  #event-btn[data-active='true'] {
		@apply text-white border-iwk-red bg-black border-2;
	}

  .custom-sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
      z-index: 30;
      background-color: black;
  }
</style>