<script>
  import { DateTime } from "luxon";

  export let event;
  export let types;
  export let start_time;
  export let openModal;

  export let timeline_count;
  export let timeline_height;

  let clicked = false;

  function calcHeight(stime, etime){
    let start = stime ? DateTime.fromFormat(stime, "h:mm a") : start_time;
    let end = etime ? DateTime.fromFormat(etime, "h:mm a") : start_time.plus({ hours: timeline_count -1 });

    return (end.diff(start, 'hours').toObject().hours ?? 1) * timeline_height;
  }

  function calcStart(stime){
    let start = DateTime.fromFormat(stime, "h:mm a");
    return start.diff(start_time, 'hours').toObject().hours * timeline_height;
  }

</script>

<li 
  class="event cursor-pointer { event.type ? ( types.indexOf(event.type) >= 0 ? 'cat-' + types.indexOf(event.type) : '' ) : '' }" 
  style="--data-height: { calcHeight(event.start_time, event.end_time) }px; --data-start: { calcStart(event.start_time) }px"
   on:click={openModal(event)}
  >

  <div class="shadow-md w-fit p-2 font-semibold flex rounded-lg px-4 items-center gap-2 bg-white mb-3">
    <!-- <span class="block w-3 h-3 rounded-full" style="background-color: #22B244;"></span> -->
    <h3 class="text-iwk-blue" >{event.title}</h3>
  </div>

  <div class="shadow-md text-xs  p-2 font-semibold flex rounded-lg px-4 items-center gap-2 bg-white mb-3">
    <!-- <span class="block w-3 h-3 rounded-full" style="background-color: #22B244;"></span> -->
    <h3 class="w-full text-iwk-green" >
      {
        event.start_time && event.end_time ? `${event.start_time} - ${event.end_time}`
        : event.start_time ? `Starts at: ${event.start_time}`
        : event.end_time ? `Ends by: ${event.end_time}`
        :'Venue:'
      }  
    </h3>
  </div>

</li>

<style lang="scss">
  $event-colors : (#B6FF38, #EFC8FE, #44F4C4, #bfffb7, #F3827F, #FFBC57, #9EDF7D, #FFFD67, #e49e75, #B8405E, #2EB086, #548CFF); //( #9EDF7D, #D27FDF, #FFFD67, #B7CDFF, #44F4C4, #F3827F, #FFBC57);

  li.event{
    padding: 1rem;
    width: 200px;
    flex-shrink: 0;
    margin: .5rem;
    @for $i from 1 through length($event-colors) {
      &.cat-#{$i - 1}{
        background-color: nth($event-colors, $i);
      }
    }
  }

  @media (min-width: 768px){
    li.event{
      height: var(--data-height);
      transform: translateY(var(--data-start, 0px));
      position: absolute;
      margin: 0;
      border: 2px solid #fff;
      box-shadow: inset 0 2px 20px 5px rgb(0 0 0 / 0.15);
      overflow: hidden;
    }

  }
</style>