<script>
  import {onMount} from 'svelte';
  import axios from 'axios';
  import { DateTime } from "luxon";
  import DaySelector from './DaySelector.svelte';
  import Item from './Item.svelte';
  import Modal from '../Program/Modal.svelte';

  let agenda;
  let venues;
  let types;

  let timeline_count = 18;
  let timeline_height = 70;

  let start_time = DateTime.fromFormat("06:00", "HH:mm");

  let selectedEvent;
  let open;

  let current_events;
  $: current_venues = current_events ? current_events.events.map(item => item.venue) : null;
  $: remaining_venues = venues ? venues.filter(item => !current_venues.includes(item)).slice(0, 6 - current_venues.length ) : null;

  $: current_events, calculateStart();

  function getEventStartDates(){
    let d = current_events?.events.map(item => item.events.map(it => it.start_time ? it.start_time : DateTime.fromFormat(it.end_time, "h:mm a").plus({'hours' : -1}).toFormat("h:mm a") )).flat();
    d = [... new Set(d)];
    d = d.filter(item=>item).map(item => DateTime.fromFormat(item, "h:mm a"));
    d = d.sort((a, b) => a < b ? -1 : a > b ? 1 : 0);

    // console.log(d.map(i=>i.toFormat("h:mm a")));

    return d[0];
  }

  function getEventEndDates(){
    let d = current_events?.events.map(item => item.events.map(it => it.end_time ? it.end_time : DateTime.fromFormat(it.start_time, "h:mm a").plus({'hours' : 3}).toFormat("h:mm a") )).flat();
    d = [... new Set(d)];
    d = d.filter(item=>item).map(item => DateTime.fromFormat(item, "h:mm a"));
    d = d.sort((a, b) => a < b ? -1 : a > b ? 1 : 0);

    // console.log(d.map(i=>i.toFormat("h:mm a")));

    return d[d.length-1];
  }

  function calculateStart(){
    let sd = getEventStartDates();
    let ed = getEventEndDates();

    if(sd && ed){
      let hours = ed.diff(sd, 'hours').hours;

      start_time = sd.plus({hours : -1});
      timeline_count = Math.ceil(hours + 3);

      // console.log(start_time.toFormat("h:mm a"), timeline_count);
      // console.log(sd.toFormat("h:mm a"), ed.toFormat("h:mm a"), hours);
    }
    else{
      start_time = DateTime.fromFormat("06:00", "HH:mm");
      timeline_count = 18;
    }
   
  }

  async function loadData(){
		var response = await axios.get('/api/stats/venue.json').catch(console.log);
    agenda = response.data.agenda;
    venues = response.data.venues;
    types = response.data.types;

    current_events = agenda[0];
  }

  onMount(()=>{
		loadData();
	});

  const closeModal = () => {
      selectedEvent = null
      open = false;
  }
  const openModal = (ev) => {
      if(open) return;
      open = true;
      selectedEvent = ev;
  }
</script>

{#if agenda}
  <DaySelector events={agenda} bind:selected={current_events}/>

  {#if selectedEvent}
    <Modal open={open} event={selectedEvent} handleClose={closeModal}/>
  {/if}

  <div class="schedule">
    <div class="timeline">
      <ul style="--timeline-height:{timeline_height}px;">
        {#each Array(timeline_count) as _ , i}
          <li>
            <span>
              {start_time.plus({hours: i}).toFormat("HH:mm")}
            </span>
          </li>
        {/each}
      </ul>
    </div>
    <div class="events scrollbar" style="--timeline-count:{timeline_count}; --timeline-height:{timeline_height}px;">
      <ul class="venues">
        {#if current_events}
          {#each current_events.events as {events, venue} }
            <li >
              <div class="venue-name">{venue}</div>
              <ul class="scrollbar">
                {#each events as event }
                  <Item event={event} types={types} start_time={start_time} openModal={openModal} timeline_count={timeline_count} timeline_height={timeline_height}></Item>
                {/each}
              </ul>
            </li>
          {/each}
        {/if}

        {#if remaining_venues}
          {#each remaining_venues as venue}
            <li >
              <div class="venue-name">{venue}</div>
              <ul class="scrollbar">
                <li class="no-event">No Event</li>
              </ul>
            </li>
          {/each}
        {/if}
        
      </ul>
    </div>
  </div>
{/if}

<style lang="scss">
  
  // $timeline_count : 18;
  // $timeline_height : 70px;

  .scrollbar{
    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: black;
    }

    &::-webkit-scrollbar
    {
      width: 6px;
      background-color: black;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: #fff5;
      border-radius: 10px;
    }
  }

  .schedule {
    position: relative;

    .events{
      width: 100%;
      position: relative;
      z-index: 1;
      overflow-x: scroll;

      ul.venues{
        &>li {
          ul{
            display: flex;
            overflow-x: scroll;
            position: relative;
          }
        }

        
      }

      .no-event{
        margin: 1rem;
      }

      @media (min-width: 768px){
        & {
          width: calc(100% - 60px);
          // height: calc( ( $timeline_count * $timeline_height ) + 40px );
          height: calc( var(--timeline-count) * var(--timeline-height) + 40px );
          margin-left: 60px;
        }
      
        ul.venues{
          display: flex;
          height: calc( var(--timeline-count) * var(--timeline-height) );

          &>li{
            width: 200px;
            margin-bottom: 0;
            flex-shrink: 0;
            border-right: 1px solid #EAEAEA;

            ul{
              display: block;
              overflow-x: unset;
            }
          }
          .venue-name{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 50px;
            border-bottom: 1px solid #EAEAEA;
            padding: 0;
          }

          
        }

        .no-event{
          display: none;
        }

      }

    }

    .timeline{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding-top: 50px;

      @media (min-width: 768px){
        & {
          display: block;
        }
      }

      ul{
        li{
          position: relative;
          // height: $timeline_height;
          height: var(--timeline-height);
          &::after{
            content: '';
            position: absolute;
            top: 0;
            height: 1px;
            background: #EAEAEA;
            width: calc(100% - 60px);
            left: 60px;
          }
          span{
            display: inline-block;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
</style>