<script>
  import Speakers from "../components/Speakers.svelte";
  import Tracks from "../components/Tracks.svelte";
  import Countdown from "../components/Countdown.svelte";
  import Stats from "../components/Stats.svelte";
  import Partners from "../components/Partners.svelte";
  import Bg from "../components/Bg.svelte";
  import Schedule from '../components/Schedule.svelte';

  function downloadApp() {
    //window.open("https://iwkerala.org/kiw-app.apk", "_blank");
    window.open("https://play.google.com/store/apps/details?id=in.startupmission.kiw", "_blank");
  }
</script>

<Bg></Bg>
<section class="pb-12 relative pt-20 px-5 min-h-screen header-section mt-10" id="home">
  <h1 style="max-height:150px; max-width:150px;" class="h-16 w-16 download-icon animate-pulse fixed bottom-0 right-3 mb-3 p-3 rounded-3xl rounded-br-none scale-90 cursor-pointer bg-iwk-blue hover:bg-white hover:text-iwk-green z-50" >
    <!-- style="color:#c20303" -->
    <img src="/img/download_icon.svg" alt="download" class="download-img z-40">
    <div on:click="{downloadApp}" class="-mr-7 pr-5 items-center gap-2 opacity-0 download-icon-content transition-opacity  ease-in-out">
      
      <span class="-mr-20">
        <img src="/img/iwklogo.svg" width="170" height="170" alt="logo"/>
      </span>
      <div class="flex flex-col gap-1 mr-1">
        <h5 class="font-roboto font-semibold text-sm">Download the</h5>
        <h4 class="font-josefin text-2xl">IWK App</h4>
      </div>
      
    </div>
  </h1>
  
  <div class="container mx-auto">
    
    <div class="flex items-center text-center flex-col justify-center relative">

      <img src="/img/iwklogo.svg" class="h-40 mb-10" alt="Logo">

      
      <h1 class="font-josefin md:text-4xl text-2xl uppercase font-bold md:mb-2">India's Largest</h1>
      <h1 class="font-josefin md:text-5xl text-4xl uppercase font-bold mb-5">
        <span class="text-iwk-green">D</span><span class="md:text-4xl">esign</span>, 
        <span class="text-iwk-blue">T</span><span class="md:text-4xl">echnology</span> & 
        <span class="text-iwk-red">M</span><span class="md:text-4xl">aker</span>
        F<span class="md:text-4xl">est</span>
      </h1>

      <h1 class="font-josefin leading-tight text-2xl mt-0 mb-2 text-yellow-400 animate-bounce"><span class="text-iwk-blue">Building</span> <span class="text-white">A</span> <span class="text-iwk-green">Sustainable</span> <span class="text-iwk-red">Tomorrow</span></h1>
    </div>
<!---
    <div class="flex justify-center items-center flex-wrap space-x-4 pb-5 mt-4">
      <div class="flex items-center justify-center space-x-2 animate__zoomIn animate__animated">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-event text-iwk-red" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <rect x="4" y="5" width="16" height="16" rx="2"></rect>
          <line x1="16" y1="3" x2="16" y2="7"></line>
          <line x1="8" y1="3" x2="8" y2="7"></line>
          <line x1="4" y1="11" x2="20" y2="11"></line>
          <rect x="8" y="15" width="2" height="2"></rect>
        </svg>
        <h2 class="font-barlow font-bold md:text-2xl ">22-28 May, 2022</h2>
      </div>
  
      <div class="flex items-center justify-center space-x-2 animate__zoomIn animate__animated">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-globe text-iwk-green" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="10" r="4"></circle>
          <path d="M6.75 16a8.015 8.015 0 1 0 9.25 -13"></path>
          <line x1="12" y1="18" x2="12" y2="22"></line>
          <line x1="8" y1="22" x2="16" y2="22"></line>
        </svg>
        <h2 class="font-barlow font-bold md:text-2xl">Kerala Technology Innovation Zone, Kochi</h2>
      </div>
    </div> ---->

    <div class="mx-auto w-full md:w-1/2 p-5">
      
      <!--- <img src='/img/happeningnow.gif' alt="happening now"> --->
<!----
      <div class="button mt-5">
        <a href="https://www.townscript.com/v2/e/kerala-innovation-week-043023/booking/tickets" target="_blank" class="link">Book Your Tickets</a>
      </div> ---->

      <h2 class="font-barlow font-bold md:text-2xl mt-5 text-center">Stay tuned for next Kerala Innovation Week</h2>
      <!----
        <h2 class="font-barlow font-bold md:text-3xl mt-5 text-center">01 - 05 August 2023</h2>
        ---->

     
    </div>
      
  </div>

</section>

<section id="about" class="pb-24 px-5">
  <div class="container mx-auto">
    
    <h1 class="font-josefin md:text-4xl text-2xl font-black title">
      About Kerala Innovation Week
    </h1>
    <p class="mb-3 text-justify">Kerala Innovation Week is India's largest Design, Technology and Maker fest held at Kerala Technology Innovation Zone, Kochi. A project by Kerala Startup Mission in association with Global Shapers Kochi (an initiative of World Economic Forum) to build a collaborative Innovation Ecosystem in the state of Kerala.</p>    
    <p class="mb-3 text-justify">KTIZ’s world-class physical and advanced digital infrastructure supported by emerging technologies and high growth industries will provide a complete ecosystem that enables startups, professionals, students and visitors to thrive by encouraging creativity, collaboration, and innovation.</p>    
    
  </div>

  <div class="container mx-auto">

    <Stats></Stats>

  </div>

</section>



<section id="programs" class="pb-24 px-5">
  <div class="container mx-auto">
    <Tracks></Tracks>
  </div>
</section>
<!--
<section  id="cyclothon" class="px-5 pb-24">
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center justify-center">
      <div class="w-56 mx-10">
        <img src="/img/cycle.png" alt="cyclathon">
      </div>
      <div class="w-full max-w-3xl px-10">
        <h1 class="font-josefin md:text-4xl text-2xl font-black title text-center inline-block mx-auto">
          Join us for Cyclothon
        </h1>
        <p class="mb-3 text-justify">
          This years Kerala Innovation Week will kick off with a 25 km Cyclothon, Starting from KTIZ and passing through Infopark and returning back.
        </p>
        <p class="">
          Starting Date: <span class="text-ui-sans-serif font-bold text-iwk-green text-lg">22nd May 2022</span>
        </p>
        <p class="">
          Starting Time: <span class="text-ui-sans-serif font-bold text-iwk-green text-lg">06:00 AM</span>
        </p>
        <p class="mb-3 ">
          Starting Point: <span class="text-ui-sans-serif font-bold text-iwk-blue text-lg">Kerala Technology Innovation Zone, Kalamassery, Kochi</span>
        </p>
        <a href="https://www.townscript.com/v2/e/kerala-innovation-week-043023/booking/tickets" target="_blank" class="font-bold text-iwk-red inline-block bg-white px-10 py-2 rounded-full btn-hover">Register for Cyclothon</a>
      </div>
    </div>
  </div>
</section>

<section class="px-5 pb-24">
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center justify-center">
      <div class="w-full max-w-3xl px-10">
        <h1 class="font-josefin md:text-4xl text-2xl font-black title text-center inline-block mx-auto">
          Play Word-A-Thon & Win Free Camping
        </h1>
        <p class="mb-3 text-justify">
          Wordathon is a game of skill and luck it blends a word game with a highly interactive puzzle format. 
          The game is spread across a span of 30 days starting from 22nd April 2022. 
          Each player has to guess a six letter word in seven chances on each day.
        </p>
        <a href="/wordathon" class="font-bold text-iwk-red inline-block bg-white px-10 py-2 rounded-full btn-hover">Play Now</a>        
        <a href="/wordathon/stats" class="font-bold ml-2 text-iwk-red inline-block bg-white px-10 py-2 rounded-full btn-hover">View Leaderboard</a>        
      </div>
      <div class="w-72 mx-10 mt-6">
        <img src="/img/wordathon.png" alt="wordathon">
      </div>
    </div>
  </div>
</section>
-->
<!-- <section id="schedule" class="pb-24 px-5">
	<div class="container mx-auto">
		<Schedule />
	</div>
</section> -->

<section id="partners" class="pb-24 px-5">
  <div class="container mx-auto text-center">
    <h1 class="font-josefin md:text-4xl text-2xl font-black title text-center inline-block mx-auto">
      Our Partners
    </h1>
    <Partners></Partners>
  </div>
</section>

<section id="contact" class="relative">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row items-center justify-center">
      <div class="md:w-1/2 w-full">
        <iframe title="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15714.13294256542!2d76.3542335!3d10.0553212!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeaddd199d9bbde2b!2sKerala%20Technology%20Innovation%20Zone%20(KTIZ)!5e0!3m2!1sen!2sin!4v1648204144344!5m2!1sen!2sin" width="100%" height="450" style="border:0;filter: invert(90%);" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="md:w-1/2 w-full">
        <div class="p-10 text-center flex flex-col items-center justify-center">

          <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin w-10 -ml-4"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="12" cy="11" r="3"></circle>
            <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
          </svg> -->

          <img src="/img/logo-white.svg" class="h-32 mb-3" alt="Logo">

          <div class=" mb-10">
            <div class="font-bold md:text-2xl font-josefin">Kerala Technology Innovation Zone</div>
            <div class="mb-3">Kinfra Hi Tech Park, Kalamassery, Kochi</div>
          </div>
          

          <div class="">
            <div class="text-sm mb-3">For More Details & <br>Partnership Opportunities Contact:</div>
            <div class="font-bold">Nasif NM</div>
            <div class="">nasif@startupmission.in</div>
          </div>

          

        </div>
      </div>
    </div>
    <!-- <div class="text-sm px-5 py-2 absolute bottom-0 right-0">
      Copyright &copy; 2022 | <a href="https://startupmission.kerala.gov.in/" target="_blank" class="hover:text-blue-500">Kerala Startup Mission</a>
    </div> -->
  </div>
</section>
<section>
  <div class="text-sm px-5 py-2 text-right">
    Copyright &copy; 2022 | <a href="https://startupmission.kerala.gov.in/" target="_blank" class="hover:text-blue-500">Kerala Startup Mission</a>
  </div>
</section>

<style lang="scss">
  .download-icon {
    &:hover {
      max-height: fit-content !important;
      max-width: fit-content !important;
      height: fit-content;
      width:fit-content;
      .download-icon-content {
        display: flex;
        opacity: 1;
      }
      .download-img {
        display: none;
      }
    }
  }
  .title{
    position: relative;
    margin-bottom: 1rem;

    &::before{
      width: 60px;
      height: 5px;
      background-color: chartreuse;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &::after{
      width: 40px;
      height: 5px;
      background-color: crimson;
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
    }
  }

  .button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
    justify-content: center;
    /* button */

    .link {
        font-family: "Josefin Sans", sans-serif;
        background-color: transparent;
        font-size: 28px;
        letter-spacing: 2px;
        color: #c20303;
        position: relative;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        border: 0;
        padding-left: 20px;
        left: 0;
        line-height: auto;
        overflow: hidden;

        /*line*/
        &:before {
          content: "";
          background-color: #f38181;
          width: 3px;
          height: 100%;
          position: absolute;
          z-index: 2;
          left: 0px;
          top: 0px;
          border-radius: 50px;
          transition: all 0.3s ease-in-out;
        }
        /*arrow*/
        &:after {
          content: "";
          width: 15px;
          height: 15px;
          display: flex;
          align-items: center;
          background-color: transparent;
          position: absolute;
          border: solid 3px #f38181;
          border-left: 0;
          border-bottom: 0;
          top: calc(50% - 8px);
          border-radius: 2px;
          transform: translateX(-42px) rotate(45deg);
          transition: all 0.3s 0.2s ease-in-out;
        }
    }
  /* bg button */
    &:before {
        content: "";
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0px;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        transition: all 0.4s 0.3s ease-in-out;
    }
    &:hover {
        &:before {
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0px;
        }

        .link {
          padding-left: 50px;
          color: #c20303;
          
          &:before {
              left: 17px;
              transform: rotate(90deg);
          }

          &:after {
              transform: translate(-25px) rotate(45deg);
          }
        }
    }
  }
  .btn-hover {
    transition: all 500ms ease;
    &:hover {
      opacity: 0.8;
    }
  }

  
</style>
