<script>
    import ProgramCarousel from "../components/Program/ProgramCarousel.svelte";
    import Explore from "../components/Program/Explore.svelte";
    
    import Tracks from "../components/Tracks.svelte";
    import Events from '../components/Program/Events.svelte';

    let goToEvents;
    
</script>

<div class="wrapper mt-24 px-8">
    <div class="flex flex-col md:flex-row text-center md:text-left justify-between items-center gap-3" id="top-row">
        <h1 class="text-3xl font-bold font-josefin">BROWSE PROGRAM COLLECTIONS</h1>
        <button class="event-btn text-lg font-josefin border-2 px-6 py-2 rounded-full border-green-500 hover:bg-green-500" on:click="{goToEvents}">ALL EVENTS</button>
    </div>
    <!-- <ProgramCarousel/> -->
        <Tracks/>
    <!-- <Explore/> -->
    <Events bind:goto_events={goToEvents}/>
    
</div>

