<script>
import axios from "axios";
import { goto } from '$app/navigation';
import { onMount } from "svelte";


    let speakers;
    async function loadData(){
		var response = await axios.get('/api/stats/speaker.json').catch(console.log);
        speakers = response.data.speakers;
        //console.log(speakers)
	}

	onMount(()=>{
		loadData();
	});
    
function goLink(link) {
    //console.log(link)
    if(!link)   return;
    
    goto(link)
}
   

</script>

<div class="mb-10">
    <h1 class="mt-10 sm:mt-24 w-fit mx-auto font-josefin md:text-4xl uppercase font-bold md:mb-2">
        <span class="text-white text-3xl">Speakers</span>
    </h1>
<div class="wrapper grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 mx-auto mt-10 gap-4 w-fit justify-center">
    {#if speakers}
    {#each speakers as {name, designation, organisation, photo, link}}
    <div on:click="{goLink(link)}" class="card mt-4 rounded-lg px-4 py-4 relative overflow-hidden cursor-pointer">
        <h1 class="card-title mb-1 flex items-center font-josefin ">{name}</h1>
        <div class="designation w-fit p-2 font-semibold flex rounded-lg px-4 items-center gap-2" style="background-color: #feeeee; min-height: 30px;">
            <span class="block w-3 h-3 rounded-full" style="background-color: #F9421E;"></span>
            <h3 class="w-fit" style="color: #F9421E; font-size:15px; margin-top:-1.5px;">{designation.replaceAll('/', ' / ')}</h3></div>

            

            {#if organisation}
                <div class="organization w-fit p-2 font-semibold flex rounded-lg px-4 items-center gap-2" style="background-color: #feeeee; min-height: 30px; margin-top:4px;">
                    <span class="block w-3 h-3 rounded-full" style="background-color: #22B244;"></span>
                    <h3 class="w-fit" style="color: #22B244; font-size:15px;margin-top:-1.5px;">{organisation || ''}</h3>
                </div>
            {/if}

            
        <!--<h3 class="font-semibold my-3 -mt-1 w-fit">{organisation || ''}</h3>-->
        {#if photo}
        <img on:click="{goLink(link)}" src={"/img/speakers_resized/" + (photo ? photo : 'placeholder.svg')} class="mx-auto hover:scale-105 transition-all hover:opacity-80 cursor-pointer rounded-md absolute bottom-0 right-0 mt-8 bg-slate-600 object-cover" style="height:244px; background-color: #f0f0f0; width:200px" alt="speaker"/>
        {:else}
                <div class="mx-auto rounded-md absolute bottom-0 right-0 mt-8 text-black flex items-center justify-center" style="height:244px; background-color: #f0f0f0; width:200px" >None</div>
        {/if}
<!--            <div>
                <h4 on:click="{goLink(link)}" class="absolute bottom-28 cursor-pointer hover:underline hover:opacity-90 font-josefin text-lg left-0 -rotate-90">View Profile</h4>
            </div>
-->
    </div>
    {/each}
    {/if}
</div>
</div>
<style>
    .card {
        width: 280px;
        height: 460px;
    }
    .card:nth-of-type(3n), .card:nth-of-type(3n + 1) {
        background-color: #22B244; /*22B244*/
    }
    .card:nth-of-type(3n + 2) {
        background-color: #00AEEF;/*00AEEF*/
    }
    .card:nth-of-type(3n + 3)
    {
        background-color: #F9421E;/*F9421E*/
    }
    .card-title {
        font-size: 28px;
        line-height: 0.8cm;
        min-height: 60px;
    }
</style>