<script>
    import {onMount, onDestroy} from 'svelte'
    import Wordle from "../../wordle/Wordle.svelte";
</script>

<div class="min-h-screen mt-10 w-full sm:pt-10 pt-3">
    <img src="/img/iwklogo.svg" alt="" class="mx-auto h-16 mb-5">
    <div class="text-center text-white mb-1 text-2xl font-bold font-josefin">WORDATHON</div>
    <Wordle></Wordle>
</div>

<style>
    /* :global(body) {
        background-color: white;
    } */
</style>