<script>
import Leaderboard from "../../wordle/Leaderboard.svelte";

</script>


<div class="min-h-screen w-full sm:mt-20 md:mt-0 md:pt-20 pt-3">
  <img src="/img/iwklogo.svg" alt="" class="mx-auto h-16 mb-5">
  <div class="text-center text-white mb-1 text-2xl font-bold font-josefin">WORDATHON</div>
  <Leaderboard></Leaderboard>
</div>