<script>
    import Popup from "./Popup.svelte";

    export let event;
    export let openModal;
    let { title, start_time, end_time, image, venue, payment } = event;

    let open = false;
    let clicked = false;
    
    const openPopup = () => {
        open = true;
    }

    const closePopup = () => {
        open = false;
    }
    const handleClick = () => {
        clicked = !clicked;
    }
</script>

<div style="{(clicked) ? 'cursor:default' : 'cursor:pointer'}" on:click="{openModal(event)}" on:focus="{() => {}}" class="flex event-card gap-3 flex-col md:flex-row bg-slate-900 rounded-xl relative">
    <Popup open={open || clicked} event={event}/>
    <div class="rounded-xl md:w-52 h-52 bg-cover md:border-r-2 shadow-md border-white flex-shrink-0" style="background-image:url('/img/{image}')"></div>
    <div class="event-card-info md:p-3 p-5">
        <div class="flex justify-start gap-4 items-center">
            <h5 class="text-sm">IN PERSON</h5> 
            <span class="inline-block rounded-full w-1 h-1 bg-green-500 mt-1"></span> 
            <h5 class="text-sm">&nbsp;
                     {payment?.toUpperCase() || ''} 
            </h5>
        </div>
        <h3 class="mt-2 text-xl font-bold font-josefin card-title">{title?.replaceAll('/',' / ')?.toUpperCase()}</h3>
        <h5 class="mt-3">
            {
                start_time && end_time ? `${start_time} - ${end_time}`
                : start_time ? `Starts at: ${start_time}`
                : end_time ? `Ends by: ${end_time}`
                :'Venue:'
            }    
        </h5>
        <h5 class="mt-3 line-height-zero text-sm">{venue}</h5>
        <!-- <button class="absolute bottom-0 right-0" on:click="{openPopup}">VIEW MORE</button> -->
    </div>
</div>

<style lang="scss">
    .event-card{
      &:hover {
          .card-title{
              opacity: 0.8;
              color: #76fa95;
              cursor: pointer;
          }
      }
  }
  .line-height-zero {
      line-height: 0.5cm;
  }
</style>