<script>
	import {onMount} from 'svelte';
	import Filter from './Filter.svelte';
    import Card from './Card.svelte';
    import Modal from './Modal.svelte';
	import axios from 'axios';

	let view = [];
	let sections = [];

	let type_filters = [];
    let category_filters = [];
	let date_filters = [];

	async function loadData(){
		var response = await axios.get('/api/stats/agenda.json').catch(console.log);
        
		sections = JSON.parse(JSON.stringify(response.data.agenda));
		view = response.data.agenda;
		type_filters = response.data.types;
		category_filters = response.data.categories.filter((cat) => cat !== 'Design & Maker');
		date_filters = response.data.dates;

        type_filters = type_filters.filter(tf => tf !== 'Other');
        type_filters.push('Other');

        category_filters = category_filters.filter(tf => tf !== 'Other');
        category_filters.push('Other');

	}

	onMount(()=>{
		loadData();
	});

  let selectedTypeFilters = [];
  let selectedDateFilters = [];
  let selectedCategoryFilters = [];

  $: selectedTypeFilters, filterView();
  $: selectedDateFilters, filterView();
  $: selectedCategoryFilters, filterView();

  let open = false;
  let selectedEvent;

  const closeModal = () => {
      selectedEvent = null
      open = false;
  }
  const openModal = (ev) => {
      if(open) return;
      open = true;
      selectedEvent = ev;
  }
  
  const filterView = () => {
      const all_sections = JSON.parse(JSON.stringify(sections))
      let vsections;
      
      if(!selectedDateFilters.length) vsections = all_sections
      else 
          vsections = all_sections.filter(s => {
              if(selectedDateFilters.includes(s.date))    return true;
              return false
          })
      vsections.forEach((s, i) => {
          vsections[i].events = vsections[i].events.filter((ev)=>{
              if(selectedCategoryFilters.includes(ev.category))    return true;

              let design_maker = selectedCategoryFilters.includes('Design') || selectedCategoryFilters.includes('Maker');
              if(design_maker && ev.category == 'Design & Maker') return true;
              
              if(selectedTypeFilters.includes(ev.type))    return true;
              if(!selectedCategoryFilters.length && !selectedTypeFilters.length)  return true;
              return false;
          }) 
      })
      view = vsections.filter(s => s.events.length > 0 ? true:false)
  }

  let events_section;
  const yOffset = -50;

  export const goto_events = () => {
    const y =
        events_section.getBoundingClientRect().top +
        window.pageYOffset +
        yOffset;
    window.scrollTo({ top: y, behavior: 'smooth' });
  };

</script>

<div class="container mx-auto mt-20 mb-20 flex flex-col md:flex-row">
    {#if selectedEvent}
    <Modal open={open} event={selectedEvent} handleClose={closeModal}/>
    {/if}
  <div class="md:w-80 w-full mb-10 flex-shrink-0" >
		<div class="custom-sticky md:pr-10">
			<h3 class="text-xl font-bold font-josefin mb-6 pt-4">FILTER BY</h3>

			<Filter name="TYPE" filters={type_filters} bind:selected={selectedTypeFilters} />
			<Filter name="DATE" filters={date_filters} bind:selected={selectedDateFilters} />
			<Filter name="CATEGORY" filters={category_filters} bind:selected={selectedCategoryFilters} />
			
		</div>
  </div>
  <div class="w-full" style="margin-top:-88px" bind:this={events_section}>
		{#each view as { date, events } (date) }
			<div class="event-section mt-20">
				<div class="sticky-parent">
						<h2 class="text-3xl font-bold font-josefin mb-3 pb-3 pt-3 custom-sticky top-0">{date}</h2>
				</div>
				<div class="grid xl:grid-cols-2 gap-10 py-2">
					{#each events as event (event.title) }
						<Card event={event} openModal={openModal}/>
					{:else}
						<div class="">No Events to show. Try clearing filters.</div>
					{/each}
				</div>
			</div>
		{:else}
			<div class="mt-20">No Events to show. Try clearing filters.</div>
		{/each}
  </div>
</div>

<style lang="scss">
  
  .sticky-parent {
      display: unset;
  }
  .custom-sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 79px;
      z-index: 30;
      background-color: black;
  }
  
  @media screen and (max-width:820px) {
      .custom-sticky {
          top: 0px;
      }
  }

</style>