<div id="explore-container" class="mt-20 flex items-center px-10 rounded-lg">  
    <div class="explore-info">
        <h1 class="text-4xl font-bold font-josefin">LOREM EPSUM<br/> DOLOR</h1>
        <p class="font-josefin text-lg mt-8">Esse cupidatat velit sunt elit deserunt ea. Labore in eu voluptate ad in. Magna enim anim voluptate deserunt magna proident pariatur id dolore enim eiusmod. Ad id ad aliqua sunt excepteur ex excepteur qui sint. Velit irure esse eiusmod duis est irure non.</p>
        <button class="mt-6 text-xl font-bold font-josefin border-2 px-10 py-4 rounded-full border-green-500">LOREM</button>
    </div>
</div>

<style>
    #explore-container {
      height: 530px;  
      background-color: green;
    }
    .explore-info {
        max-width: 400px;
    }
    @media screen and (max-width:430px) {
        #explore-container {
            height: 640px;
            text-align: center;
        }
    }
    @media screen and (max-width:340px) {
        #explore-container {
            height: 730px;
        }
    }
    @media screen and (max-width:320px) {
        #explore-container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
</style>