<script>
  import { onMount } from "svelte";

  let open = false;
  export let name = "";
  export let selected = [];
  export let filters = [];

  let filter_wrapper;
  let filter_container;

  const handleFilter = () => {
    if(!filter_wrapper) return;
    if(open) {
      filter_wrapper.style.height =
        filter_container.clientHeight + 85 + 'px';
    } else {
      filter_wrapper.style.height = '60px';
    }
  }

  $: open, handleFilter();

  onMount(() => {
    handleFilter();
    filter_wrapper.style.display='block';
  })

  String.prototype.toProperCase = function () {
    if(this == 'women-in-tech') return 'Women-in-Tech'
    return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substring(1).toLowerCase();});
  };
</script>

<div class="border-b-2 border-b-green-400 hidden overflow-hidden transition-all delay-150 duration-500 ease-in-out" bind:this="{filter_wrapper}">
  <h3 on:click="{() => {open = !open}}" class="pb-3 pt-5 text-lg font-josefin flex justify-between items-center cursor-pointer">
    {name}
    <span class="arrow {open ? 'expanded' :''}"></span>
  </h3>
  <div class="filters mb-4 flex flex-col gap-1" bind:this="{filter_container}">
    {#each filters as filter}
      <div class="filter">
        <input id="{filter}" bind:group={selected} type="checkbox" name="type_filters" value="{filter}" /> 
        <label for="{filter}" >{filter?.toProperCase()}</label>
      </div>
    {/each}
  </div> 
</div>

<style lang="scss"> 
  .arrow {
      transition: transform .5s ease-out;
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid #76fa95;
  }
  
  .expanded {
      transform: rotateZ(180deg);
      border-top: 10px solid skyblue;
  }
  .filter {
      display: flex;
      align-items: center;
      gap: 9px;
  }
  .filter > input {
      height: 15px;
      width: 15px;
      margin-top: 2px;
      border: 2px solid white;
      accent-color: green;

  }
</style>