<script>
    import SvelteMarkdown from 'svelte-markdown'
    export let open;
    export let event;
    export let handleClose;
    let content_div;
    let { title, start_time, end_time, venue, content, link_text, payment, date, link } = event;
    $: scrollable = !open;
	
	const wheel = (node, options) => {
		let { scrollable } = options;
		
		const handler = e => {
			if (!scrollable) e.preventDefault();
            if(content_div) {
                content_div.scrollBy({
                    behaviour:'smooth',
                    top:e.deltaY,
                    left:e.deltaX
                })
            }
		};
		
		node.addEventListener('wheel', handler, { passive: false });
		
		return {
			update(options) {
				scrollable = options.scrollable;
			},
			destroy() {
				node.removeEventListener('wheel', handler, { passive: false });
			}
		};
  };
</script>

<svelte:window use:wheel={{scrollable}} />

{#if open}
<div class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center z-40 backdrop-filter backdrop-blur" >
    <div class="relative rounded-3xl rounded-bl-none popup w-3/4 max-w-lg h-fit max-h-fit mx-auto bg-green-500 px-3 py-4 flex items-center justify-center flex-col"  
    style="{['transform:translateY(-15px);', 'min-height:20px;'].join(' ')}">
        <div class="px-2 flex items-center justify-center flex-col">
            <div class="flex flex-col justify-start gap-0 items-center">
                <h3 class="mb-2 text-2xl md:text-xl font-bold font-josefin text-center card-title max-w-sm">{title?.replaceAll('/',' / ')?.toUpperCase()}</h3>
                
                <h5 class="min-w-fit mb-2 text-md md:text-sm font-josefin text-right flex items-center  font-semibold">
                    <!-- <span class="inline-block rounded-full h-2 w-2 md:w-1 md:h-1 bg-green-500 "></span> 
                    &nbsp; -->
                        {payment?.toUpperCase() || ''}
                </h5>
            </div>
            
            <h5 class="mb-1 w-full text-md md:text-sm font-josefin  break-words items-center flex justify-center gap-3">
            <span>{date}</span>
            <span>:</span>
                {
                    start_time && end_time ? `${start_time} - ${end_time}`
                    : start_time ? `Starts at: ${start_time}`
                    : end_time ? `Ends by: ${end_time}`
                    :''
                }    
                
            </h5>
            <h5 class="mt-1 mb-1 text-md md:text-sm font-josefin" style="{!content ? '':''}">{venue}</h5>
            {#if content}
                <div bind:this="{content_div}" class="text-josefin mb-2 overflow-auto h-fir max-h-40 popup pr-1" style="font-size: 12px;">
                    <SvelteMarkdown source={content}></SvelteMarkdown>
                </div>
                {#if link}
                    <button  class="hover:opacity-80 underline font-josefin px-2 py-2 pb-0 mx-auto"><a href="{link}" target="_blank">{link_text}</a></button>
                {/if}       
            {/if}
            <button on:click="{handleClose}" class="hover:opacity-80 font-josefin px-2 py-2 mx-auto absolute top-2 right-3">&#10006;</button>
        </div>
    </div>
</div>
{/if}

<style lang="scss">
   .popup::-webkit-scrollbar-track
{
	
	border-radius: 10px;
	background-color: white;
}

.popup::-webkit-scrollbar
{
	width: 3px;
	background-color: white;
    
}

.popup::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	
	background-color: rgb(236, 222, 222);
}
</style>