<script>
    import SvelteMarkdown from 'svelte-markdown'
    export let open;
    export let event;
    let { title, start_time, end_time, venue, content, link_text, payment, date, link } = event;
</script>
{#if open}
<div class="absolute popup w-full h-fit max-h-80  min-w-full bg-red-400 z-20 px-3 pt-4 pb-4 flex items-center justify-center flex-col" 
style="{[!link ? 'padding-bottom:0;':'', !content ? 'justify-content:center;':'', 'transform:translateY(-15px);', 'min-height:calc(100% + 30px);', !link && content ? 'padding-bottom:13px':''].join(' ')}">
    <div class="px-2 flex items-center justify-center flex-col">
        <div class="flex justify-start gap-6 items-center">
            <h3 class="mb-2 text-3xl md:text-xl font-bold font-josefin card-title max-w-sm">{title?.toUpperCase()}</h3>
            
            <h5 class="min-w-fit mb-2 text-md md:text-sm font-josefin text-right flex items-center  font-semibold">
                <span class="inline-block rounded-full h-2 w-2 md:w-1 md:h-1 bg-green-500 "></span> 
                &nbsp;
                    {payment?.toUpperCase() || ''}
            </h5>
        </div>
        
        <h5 class="mb-1 w-full text-md md:text-sm font-josefin  break-words items-center flex justify-center gap-3">
        <span>{date}</span>
        <span>:</span>
            {
                start_time && end_time ? `${start_time} - ${end_time}`
                : start_time ? `Starts at: ${start_time}`
                : end_time ? `Ends by: ${end_time}`
                :''
            }    
            
        </h5>
        <h5 class="mt-1 mb-1 text-md md:text-sm font-josefin">{venue}</h5>
        {#if content}
            <div class="text-josefin md:h-24 mb-2 overflow-auto h-full popup" style="font-size: 12px;">
                <SvelteMarkdown source={content}></SvelteMarkdown>
            </div>
            {#if link}
                <button class="hover:underline font-josefin px-2 py-2 mx-auto md:absolute bottom-0 right-0"><a href="{link}">{link_text}</a></button>
            {/if}
        {:else}
            {#if link}
                <button class="hover:underline mt-3 md:mt-1 font-josefin font-semibold text-md md:text-sm px-2 pb-1"><a href="{link}">{link_text}</a></button>
            {/if}
        {/if}
    </div>
</div>

{/if}

<style lang="scss">
   .popup::-webkit-scrollbar-track
{
	
	border-radius: 10px;
	background-color: var(--bg-red-400);
}

.popup::-webkit-scrollbar
{
	width: 3px;
	background-color: var(--bg-red-400);
    
}

.popup::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: white;
}
</style>