<script>
    import { Swiper, SwiperSlide } from 'swiper/svelte';
    import {Autoplay, Navigation} from 'swiper';
    import 'swiper/css';
    import "swiper/css/navigation";
    import programs from '../../data/programs.json';
    
    let carouselEl;

   
    const handleScrollRight = () => {
        carouselEl.scrollBy({top: 0,
        left: 700,
        behavior: 'smooth'})
    }
</script>
<div class="relative">
    <button id="move-right" class="mov-btn" on:click={handleScrollRight}>
        <svg fill="white" width="25" height="25" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M12 0c6.623 0 12 5.377 12 12s-5.377 12-12 12-12-5.377-12-12 5.377-12 12-12zm0 1c6.071 0 11 4.929 11 11s-4.929 11-11 11-11-4.929-11-11 4.929-11 11-11zm5.247 8l-5.247 6.44-5.263-6.44-.737.678 6 7.322 6-7.335-.753-.665z"/>
        </svg>
    </button>
    <div id="program-carousel" class="flex gap-8 mt-8 mb-8" >
        <Swiper
        modules="{[Autoplay, Navigation]}"
        spaceBetween={50}
        slidesPerView={1}
        centeredSlides={true}

        loop={true}
        navigation={true}
        autoplay={{
            delay: 2500,
            disableOnInteraction: false,
        }}
        breakpoints={{
            "768": {
            slidesPerView: 3,
            spaceBetween: 40,
            },
            "1300": {
            slidesPerView: 4,
            spaceBetween: 50,
            },
        }}>
        {#each programs as {title, image}}
        <SwiperSlide>
            <div class="program">
                <img src={ '/img/'+ image} alt="program"/>
                <h2 class="card-title mt-5 text-xl font-bold font-josefin">{title.toUpperCase()}</h2>
            </div>
        </SwiperSlide>
        {/each}
        </Swiper>
    </div>
</div>

<style lang="scss">
    
    #program-carousel {
        flex-wrap: nowrap;
        overflow-x: hidden;
    }
    .card-title:hover {
        opacity: 0.8;
        color: rgb(249 66 30 / var(--tw-text-opacity));
        cursor: pointer;
    }
    .program {
        width: 100%;
    }
    .program > img {
        height: 280px;
        width: 100%;
        border-radius: 20px;
    }
    .mov-btn {
        position: absolute;
        top: 90px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: black;
        border: 2px solid;

        &:hover {
            background-color: green;
            cursor: pointer;
        }
    }
    #move-right {
        right: 5%;
        z-index: 2;
    }
    #move-right > svg {
        transform: scaleX(2) scaleY(2) rotateZ(-90deg);
        margin-left: 11px;
        margin-top: -1px;
    }
    @media screen and (max-width: 1600px) {
        .program > img {
            height: 260px;
            width: 370px;
        }
    }
</style>