<script>
  import {onMount} from 'svelte';
  import axios from 'axios';

  let date, users = [];

  async function loadData(){
    var response = await axios.get('/api/stats/data.json').catch(console.log);
    date = response.data.date;
    users = response.data.users;
    console.log(date, users);
  }

  onMount(()=>{
    loadData();
  })
</script>

<div class="w-full max-w-5xl mx-auto">
  <div class="text-center mt-5 text-xs">Last Updated: { date ? (new Date(date)).toLocaleString() : '' }</div>
  <div class="text-center mb-5 text-xs">Ranked by Max Streak</div>
  {#if users?.length}
  <table>
    <thead >
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Device ID</th>
        <th rowspan="2">Played</th>
        <th rowspan="2">Win %</th>
        <th rowspan="2">Max Streak</th>
        <th rowspan="2">Current Streak</th>
        <th colspan="7">Distribution</th>
        <th rowspan="2">Distribution Score</th>
      </tr>
      <tr>
        {#each [...Array(7).keys()] as value}
          <th>{value+1}</th>
        {/each}
      </tr>
    </thead>

    <tbody>

      {#each users as user, i}
        <tr>
          <td>{i+1}</td>
          <td>{user.hid}</td>
          <td>{user.played}</td>
          <td>{user.win}</td>
          <td>{user.max_streak}</td>
          <td>{user.current_streak}</td>

          {#each [...Array(7).keys()] as item}
            <td>{user.distribution[item+1] ?? 0}</td>
          {/each}

          <td>
            {user.d_s}
          </td>
        </tr>
      {/each}

    </tbody>
  </table>
  {:else}
  <div class="text-center mb-5 text-md mt-7">Loading...</div>
  {/if}

</div>

<style lang="scss">
  table{
    @apply min-w-full text-center border-2 border-black mb-10;

    thead{

      th{
        @apply bg-slate-800  text-sm font-bold px-4 py-2 border-r-2 border-b-2 border-black ;
      }
    }

    tbody{
      td{
        @apply bg-slate-800  text-sm font-bold px-4 py-2 border-r-2 border-b-2 border-black ;
      }
    }
  }
</style>