<script>
  import { scale } from 'svelte/transition';
  import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

  export let visible;

</script>

{#if visible}
  <div class="fixed left-0 top-0 right-0 bottom-0 backdrop-blur-sm p-5 flex items-center justify-center">
    <div on:click={()=>{ dispatch('close'); }} transition:scale class="z-50 text-white w-full max-w-4xl bg-slate-900 shadow border-white border-b-4 p-5 relative overflow-y-scroll" style="max-height: 90vh;">
      <button on:click={()=>{ dispatch('close'); }} class="absolute right-4 top-4 z-50 p-5">❌</button>
      <div class="text-center font-bold text-xl mb-3">WORDATHON - GUIDELINES</div>
      <ul class="list-disc ml-5 text-sm ">
        <li>You have to guess the six-letter word in wordathon in seven chances or less.</li>
        <li>Every word you enter must be in the word list. That hasn't been disclosed, but presumably, it's based on a dictionary.</li>
        <li>Letters can be used more than once.</li>
        <li>After each guess, the color of the tiles will change to show how close your guess was to the word.</li>
      </ul>
      <div class="font-bold my-2">Example:</div>

      <div class="md:ml-10 mb-1">
        <div class="flex">
          <div class="block correct" data-content="D"></div>
          <div class="block" data-content="E"></div>
          <div class="block" data-content="S"></div>
          <div class="block" data-content="I"></div>
          <div class="block" data-content="G"></div>
          <div class="block" data-content="N"></div>
        </div>
      </div>
      <div class="md:ml-10 mb-5 text-sm">The letter D is in the word and in the correct spot</div>

      <div class="md:ml-10 mb-1">
        <div class="flex">
          <div class="block" data-content="T"></div>
          <div class="block" data-content="W"></div>
          <div class="block" data-content="E"></div>
          <div class="block" data-content="N"></div>
          <div class="block" data-content="T"></div>
          <div class="block present" data-content="Y"></div>
        </div>
      </div>
      <div class="md:ml-10 mb-5 text-sm">The letter Y is in the word and in the wrong spot</div>

      <div class="md:ml-10 mb-1">
        <div class="flex">
          <div class="block" data-content="L"></div>
          <div class="block" data-content="I"></div>
          <div class="block absent" data-content="S"></div>
          <div class="block" data-content="T"></div>
          <div class="block" data-content="E"></div>
          <div class="block" data-content="N"></div>
        </div>
      </div>
      <div class="md:ml-10 mb-5 text-sm">The letter S is not in the word at any spot</div>

      <div class="flex items-center flex-wrap justify-center my-5">
        <span class="mr-2 font-bold font-josefin text-xl">Prizes sponsored by </span>
        <svg version="1.1" viewBox="0 0 100 20" class="h-10"
            style="enable-background:new 0 0 100 20;" xml:space="preserve">
          <style type="text/css">
            .st0{enable-background:new    ;}
            .st1{fill:#FF2A2A;}
          </style>
          <sodipodi:namedview  bordercolor="#666666" borderopacity="1.0" id="base" inkscape:current-layer="layer1" inkscape:cx="42.672066" inkscape:cy="17.720953" inkscape:document-units="px" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:window-height="705" inkscape:window-maximized="1" inkscape:window-width="1366" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:zoom="6.5255728" pagecolor="#ffffff" showgrid="false">
            </sodipodi:namedview>
          <g id="layer1" transform="translate(0,-1032.3622)" inkscape:groupmode="layer" inkscape:label="Layer 1">
            <g class="st0">
              <path class="st1" d="M11.8,1049.3c-1.2,0.5-2.4,0.7-3.5,0.7c-1.8,0-3.5-0.6-5-1.8c-1.9-1.5-2.8-3.5-2.8-5.9c0-2.4,0.9-4.4,2.8-5.9
                c1.5-1.2,3.1-1.8,5-1.8c1,0,2.2,0.2,3.4,0.7v4.6c-0.4-0.4-0.7-0.8-1.1-1c-0.7-0.4-1.4-0.6-2.2-0.6c-1,0-1.9,0.3-2.6,0.9
                c-0.9,0.8-1.4,1.8-1.4,3.1c0,1.3,0.5,2.3,1.4,3.1c0.7,0.6,1.6,0.9,2.6,0.9c0.8,0,1.5-0.2,2.2-0.6c0.4-0.2,0.7-0.5,1.1-1V1049.3z"
                />
              <path class="st1" d="M28.2,1049.7h-4.1l-0.9-2.6h-5.3l-1,2.6h-4l5.6-14.7h4.2L28.2,1049.7z M22.1,1044.2l-1.6-4.7l-1.6,4.7H22.1z"
                />
              <path class="st1" d="M47.6,1049.7h-3.8l-1.1-8.4l-3.5,8.4h-1.5l-3.4-8.4l-1.2,8.4h-3.8l2.5-14.7h3.8l3,7.8l3.1-7.8h3.8
                L47.6,1049.7z"/>
              <path class="st1" d="M61.2,1039.8c0,1.3-0.3,2.4-0.9,3.3c-0.8,1.1-2.2,1.7-4,1.7h-2.4v4.9H50V1035h6.1c1.7,0,3,0.5,3.9,1.5
                C60.8,1037.4,61.2,1038.5,61.2,1039.8z M57.2,1039.9c0-0.5-0.2-1-0.5-1.3c-0.3-0.3-0.9-0.5-1.6-0.5h-1.3v3.7h1.3
                c0.8,0,1.4-0.2,1.7-0.5C57.1,1040.8,57.2,1040.4,57.2,1039.9z"/>
              <path class="st1" d="M74.3,1039.8c0,1.3-0.3,2.4-0.9,3.3c-0.8,1.1-2.2,1.7-4,1.7H67v4.9h-3.8V1035h6.1c1.7,0,3,0.5,3.9,1.5
                C74,1037.4,74.3,1038.5,74.3,1039.8z M70.4,1039.9c0-0.5-0.2-1-0.5-1.3s-0.9-0.5-1.6-0.5H67v3.7h1.3c0.8,0,1.4-0.2,1.7-0.5
                C70.2,1040.8,70.4,1040.4,70.4,1039.9z"/>
              <path class="st1" d="M84.7,1049.7h-8.3V1035h8.3v3.2h-4.5v2.5h4.3v3.2h-4.3v2.6h4.5V1049.7z"/>
              <path class="st1" d="M99.3,1049.7h-4.7l-3.6-5.6v5.6h-3.8V1035h5.9c1.7,0,3,0.5,3.8,1.6c0.7,0.8,1,1.8,1,3c0,1.3-0.4,2.3-1.2,3.1
                c-0.5,0.5-1.2,0.8-2,1L99.3,1049.7z M94,1039.7c0-0.5-0.2-1-0.6-1.3c-0.4-0.3-0.9-0.5-1.7-0.5h-0.7v3.7h0.7c0.8,0,1.4-0.2,1.7-0.5
                C93.8,1040.7,94,1040.2,94,1039.7z"/>
            </g>
          </g>
        </svg>
      </div>

      <ul class="list-disc ml-5 text-sm ">
        <li>All participants must keep a screenshot of their daily participation and have to produce it at the request of the organizing committee.</li>
        <li>All the participants must post the screenshots on Instagram daily & tag @keralainnovationweek</li>
        <li>The decisions of the organizing committee will be final.</li>
        <li>KSUM reserves the right to alter or withdraw any clause of the contest or the contest itself without any prior notice.</li>
        <li>
          The winners will be decided under 2 categories:
          <ul class="list-disc ml-5">
            <li>The person with maximum streaks in the least chances.</li>
            <li>The person with the most wins with the least chances.</li>
          </ul>
        </li>
        <li>Inorder to collect the prize the winner must be present physically at Kerala Innovation Week with the device used to play the game. Prizes will be given only after successfull verification of device</li>
      </ul>

    </div>
  </div>
{/if}

<style lang="scss">

  .block{
		width: 3rem;
		height: 3rem;
		border: 2px solid #ccc;
		border-radius: 100%;
		margin: 3px;
		color: var(--text-color, #fff);
		font-weight: bold;
		font-size: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;    
    animation-delay: 500ms;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		position: relative;
		perspective: 100px;

		&::after{
				content: attr(data-content);
				z-index: 1;
		}

		&::before{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				background-color: var(--bg-color, #fff);
				transition: all 500ms ease-in;
				transform: rotateX(90deg);
				border-radius: 100%;
		}

		@for $i from 0 through 6 {
				&:nth-child(#{$i}){
						&::before {
								transition-delay: $i * 250ms;
						}
				}
		}

		&.correct{
				border: 0;
				--text-color: white;
				&::before{
						--bg-color: #22B244;
						transform: rotateX(0deg);
				}
		}

		&.present{
				border: 0;
				--text-color: white;
				&::before{
						--bg-color: #00AEEF;
						transform: rotateX(0deg);
				}
		}

		&.absent{
				border: 0;
				--text-color: white;
				&::before{
						--bg-color: #666;
						transform: rotateX(0deg);
				}
		}
	}

	@media only screen and (max-width: 600px) {
		.block{
			width: 12vw;
			height: 12vw;
		}
	}
</style>