<script>
  import { scale } from 'svelte/transition';
  import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

  export let visible;
  export let user;
  export let length;

  $: total = (user.distribution?.length > 0) ? Object.values(user.distribution).reduce( (sum, a) => sum + a, 0 ) : 0;

</script>

{#if visible}
  <div class="fixed left-0 top-0 right-0 bottom-0 backdrop-blur-sm p-5 flex items-center justify-center">
    <div on:click={()=>{ dispatch('close'); }} transition:scale class="z-100 text-white w-full max-w-xl bg-slate-900 shadow border-white border-b-4 p-5 rounded-md relative">
      <button on:click={()=>{ dispatch('close'); }} class="absolute right-4 top-4 p-5">❌</button>
      <div class="text-center font-bold text-2xl mb-5">Your Stats</div>
      <div class="text-center font-josefin font-black text-3xl mb-5"> Device Id: <span class="text-iwk-green">{user.hid}</span></div>
      <div class="grid gap-5 md:grid-cols-4 grid-cols-2 mb-5">
        <div class="text-center">
          <div class="font-josefin text-3xl font-black">{user.played}</div>
          <div class="text-sm">Played</div>
        </div>
        <div class="text-center">
          <div class="font-josefin text-3xl font-black">{user.win}</div>
          <div class="text-sm">Win %</div>
        </div>
        <div class="text-center">
          <div class="font-josefin text-3xl font-black">{user.current_streak}</div>
          <div class="text-sm">Current Streak</div>
        </div>
        <div class="text-center">
          <div class="font-josefin text-3xl font-black">{user.max_streak}</div>
          <div class="text-sm">Max Streak</div>
        </div>
      </div>
      <div class="text-center font-bold mb-3">Guess Distribution</div>
      <div class="space-y-1 mx-10 mb-5">
        {#each [...Array(length).keys()] as item}
          <div class="flex">
            <div class="legend">{item + 1 }</div>
            <div class="barchart" style="--data-width: { (user.distribution?.length > 0) ? Math.floor(((user?.distribution[item+1] ?? 0)/total)*100) : 0 }%">{ (user.distribution?.length > 0) ? (user?.distribution[item+1] ?? 0) : 0}</div>
          </div>
        {/each}
      </div>
    </div>
  </div>
{/if}

<style lang="scss">
  .legend{
    padding: 3px 10px;
    text-align: center;
    width: 30px;
  }
  .barchart{
    padding: 3px 10px;
    background-color: #00afef;
    font-weight: bold;
    min-width: 30px;
    width: var(--data-width);
  }
</style>
