<script>
  import CopyClipBoard from './CopyClipboard.svelte'
  import { scale } from 'svelte/transition';
  import { toast } from '@zerodevx/svelte-toast'
  import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

  export let won;
  export let share_text;

  function downloadImage() {
    let url = "/api/game/"+won;
    fetch(url, {
      mode : 'no-cors',
    })
      .then(response => response.blob())
      .then(blob => {
      let blobUrl = window.URL.createObjectURL(blob);
      let a = document.createElement('a');
      a.download = url.replace(/^.*[\\\/]/, '');
      a.href = blobUrl;
      document.body.appendChild(a);
      a.click();
      a.remove();
    })
  }

  function copyTo(){
    const app = new CopyClipBoard({
      target: document.getElementById('clipboard'),
      props: { name: share_text },
    });
    app.$destroy();
    toast.push('copied');
  }
</script>

{#if won}
<div class="fixed left-0 top-0 right-0 bottom-0 backdrop-blur-sm p-5 flex items-center justify-center">
  <div transition:scale class="z-50 text-white w-full max-w-xl bg-slate-900 shadow border-white border-b-4 p-5 rounded-md">
    <div class="text-center font-bold text-3xl mb-3">Hurray !!!...</div>
    <img src="/api/game/{won}" alt="" class="won-image">
    <div class="text-center flex flex-wrap md:space-x-2 space-y-2 mt-3 items-center justify-center">
      <button on:click={downloadImage} class="bg-iwk-blue px-8 py-2 mt-2 text-white font-bold">Download and Share</button>
      <button on:click={copyTo} class="mx-auto bg-iwk-green px-8 py-2 text-white font-bold">Copy Text</button>
      <button on:click={()=>{ dispatch('stats') }} class="mx-auto bg-iwk-red px-8 py-2 text-white font-bold">Stats</button>
    </div>
  </div>
</div>
{/if}

<style lang="scss">
  .won-image{
		height: 60vh;
		margin: 0 auto;
    
	}
</style>