<script>
  import { base } from '$app/paths';
  import { page } from '$app/stores';

  let menu_open = false;

  let y = 0;

  $: scrolled = y > 150;

  $: onlyHome = $page.url.pathname != "/wordathon/" ? true : false;

  function findPos(obj) {
    var curtop = 0;
    if (obj.offsetParent) {
        do {
            curtop += obj.offsetTop;
        } while (obj = obj.offsetParent);
    return [curtop];
    }
  }

  const handleMenu = () => {
    menu_open = !menu_open;
  }

  const handleNav = (e) => {
    if($page.url.pathname == "/"){
      e.preventDefault()
      let button = e.target.closest('[data-target]');
      let target = button.getAttribute('data-target');
      let offset = button.getAttribute('data-offset');
      
      window.scroll({
        left:0,
        top:findPos(document.getElementById(target))-offset, 
        behavior:'smooth'
      });
    } 
    handleMenu();
  }

</script>

<svelte:window bind:scrollY={y}/>

<div id="navbar" class="w-64 min-h-screen sm:w-full sm:min-h-0 sm:h-20 p-8 sm:py-3 bg-indigo-900  left-0 top-0 
    sm:flex sm:items-center
     ease-in-out transition-all transform duration-300
    -translate-x-full sm:translate-x-0 fixed z-40 
     {menu_open?'translate-x-0':''} {scrolled?'md:bg-black':'md:bg-transparent'}
    ">
  
    <div class="w-full container mx-auto sm:flex sm:items-center sm:justify-between">
      <div class="mb-5 sm:m-0 font-medium bg-white sm:bg-transparent p-5 sm:p-0 rounded-md flex items-center justify-center">
        <!-- <img src="{base}/img/logo.svg" class="h-14 block {scrolled?'':'sm:hidden'}" alt="Logo">
        <img src="/img/logo-white.svg" class="hidden sm:h-16 {scrolled?'':'sm:block'}" alt="Logo"> -->
        <img src="/img/iwklogo.svg" alt="logo" class="h-16 {scrolled?'block':'sm:hidden'}">
      </div>

      <nav>
        <ul class="sm:flex md:text-sm gap-2">

          <li on:click={handleNav} data-target="home" data-offset="0" class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100" >
            <a href="/" class="md:text-white text-white font-bold hover:text-black">Home</a>
          </li>
          
          {#if onlyHome}
            <li on:click={handleNav} data-target="about" data-offset="135" class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100">
              <a href="/#about" class="md:text-white text-white font-bold hover:text-black">About</a>
            </li>
          {/if}
          
          <li class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100">
            <a href="/programs" class="md:text-white text-white font-bold hover:text-black">Programs</a>
          </li>

          <li class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100">
            <a href="/schedule" class="md:text-white text-white font-bold hover:text-black">Schedule</a>
          </li>

          <li class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100">
            <a href="/speakers" class="md:text-white text-white font-bold hover:text-black">Speakers</a>
          </li>

          <li class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100">
            <a href="/gallery" class="md:text-white text-white font-bold hover:text-black">Gallery</a>
          </li>
          
          {#if onlyHome}

            <!-- <li on:click={handleNav} data-target="schedule" data-offset="135" class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100">
              <a href="/" class="md:text-white text-white font-bold hover:text-black">Schedule</a>
            </li> -->
          
            <li on:click={handleNav} data-target="partners" data-offset="135" class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100">
              <a href="/" class="md:text-white text-white font-bold hover:text-black">Partners</a>
            </li>
          
            <li on:click={handleNav} data-target="contact" data-offset="135" class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100">
              <a href="/" class="md:text-white text-white font-bold hover:text-black">Contact</a>
            </li>
            <!--
            <li data-offset="0" class="px-5 py-2 rounded-md md:bg-iwk-blue shadow animate-pulse">
              <a href="https://www.townscript.com/v2/e/kerala-innovation-week-043023/booking/tickets" target="_blank" class="button mt-5 md:text-iwk-white text-white px-2 py-1 font-bold">Register</a>
            </li>
            -->
          {/if}
          
        </ul>
      </nav>
    </div>

</div>

<main class="w-full">
  <div class="flex sm:hidden p-3 bg-white shadow">        
    <img src="{base}/img/logo.svg" alt="Logo" class="object-contain h-12">
    <button on:click="{()=> menu_open = !menu_open }" class="z-50 cursor-pointer fixed right-5 w-10 h-10 text-xl ml-auto transition duration-150 hover:shadow leading-none px-2 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button">
      <span class="block absolute w-6 h-0.5 rounded-sm bg-gray-600 top-3 duration-500 { menu_open ? 'opacity-0':'' }" ></span>
      <span class="block absolute w-6 h-0.5 rounded-sm bg-gray-600 duration-500 { menu_open ? 'transform rotate-45':'' }"></span>
      <span class="block absolute w-6 h-0.5 rounded-sm bg-gray-600 duration-500 { menu_open ? 'transform -rotate-45':'' }"></span>
      <span class="block absolute w-6 h-0.5 rounded-sm bg-gray-600 bottom-2.5 duration-500 { menu_open ? 'opacity-0':'' }"></span>
    </button>
  </div>
</main>
