<script>
    let items = [
        '/img/gs.png',
        '/img/kit.png', 
        '/img/mv.png',
        '/img/sfl.png',
        '/img/duk.png',
        '/img/infopark.png',
        '/img/startupindia.png',
        '/img/canva.png',

        '/img/tiek.png',
        '/img/nasscom.png',
        '/img/gtech.png',
        '/img/kied.png',
        '/img/aws.png',
        '/img/ey.png',
        '/img/mouser.png',
        '/img/ginsep.png',
        '/img/fed.png',

        '/img/fnet.png',
        '/img/grind.png',
        '/img/inq.png',
        '/img/socialtown.png',
        
        '/img/heal.png',
        '/img/shpdoc.png',
        '/img/chim.png',
        '/img/innerspace.png',
        
        '/img/bicyclekart.png',
        '/img/socialpr.png',
        '/img/headstart.png',
        '/img/teresas.png',
        '/img/campper.png',
        '/img/allthingsbright.png',
        '/img/koderfin.png',
        '/img/taos.png',
        '/img/inkerrobotics.png',

        '/img/foaps_logo.jpg',
        '/img/gdg.png',
        '/img/urbantrash.png',        
    ]
</script>

<div class="flex flex-wrap items-center justify-center mt-10">
{#each items as partner}
    <img src="{partner}" alt="Parter" class="w-1/3 md:w-32 m-1">
{/each}
</div>
