<script>

	let events = [
		{
			date: '22-05-2022',
			title: 'Cyclothon & Launch Event'
		},
		{
			date: '23-05-2022',
			title: 'Youth Summit'
		},
		{
			date: '24-05-2022',
			title: 'Buildathon'
		},
		{
			date: '25-05-2022',
			title: 'Pitch Fest'
		},
		{
			date: '26-05-2022',
			title: 'Technology Masterclasses & Workshops'
		},
		{
			date: '27-05-2022',
			title: "SHE Power & Founders' Summit"
		},
		{
			date: '28-05-2022',
			title: 'Design & Maker Fest'
		}
	];

	let currentIndex = 0;
	let currentEvent = events[currentIndex];

	function handleClick(e, idx) {		
		currentIndex = idx;
		currentEvent = events[idx];
	}
</script>

<div>
	<div class="w-full px-10 text-center">
		<h1 class="font-josefin md:text-4xl text-2xl font-black title text-center inline-block mx-auto">
			Event Schedule
		</h1>
	</div>
	<div class="flex flex-wrap items-center justify-center mt-0">
		{#each events as event, idx}
			
			<button
				id="event-btn"
				type="button"
				class="font-bold text-iwk-red inline-block bg-white px-10 py-2 rounded-full mx-2 my-2 hover:text-white hover:border-iwk-red hover:bg-black hover:border-2"
				data-active="{ currentIndex == idx ? 'true' : 'false' }"
				on:click={(e) => handleClick(e, idx)}
			>
				Day {idx + 1}
			</button>

		{/each}
	</div>
	<div>
		<h1
			class="font-josefin md:text-4xl text-2xl uppercase font-bold md:mb-2 w-full text-center mt-4"
		>
			{currentEvent.title}
		</h1>
		<p class="font-josefin md:text-2xl text-xl uppercase font-bold md:mb-2 w-full text-center text-iwk-green">
			{currentEvent.date}
		</p>
	</div>
</div>

<style lang="scss">
	#event-btn[data-active='true'] {
		@apply text-white border-iwk-red bg-black border-2;
	}
	.title {
		position: relative;
		margin-bottom: 1rem;

		&::before {
			width: 60px;
			height: 5px;
			background-color: chartreuse;
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
		}

		&::after {
			width: 40px;
			height: 5px;
			background-color: crimson;
			content: '';
			position: absolute;
			bottom: 0;
			left: 20px;
		}
	}
</style>

