<script>
  import {onMount} from 'svelte';

  let speaker_list = [];

  onMount(()=>{
    fetch(`https://events.startupmission.in/api/event/huddle-global-2021/speakers?category=`)
        .then(response => response.json())
        .then((json) => {
          speaker_list = json;
        });
  });

</script>

{#each Object.entries(speaker_list) as [category, speakers]}
  <div class="mx-auto speakers__container">

    <div class="grid grid-cols-1 gap-10 md:grid-cols-4 sm:grid-cols-3">
      {#each speakers as {name, designation, organisation, photo, linkedin}}
        
        <div class="relative">

          <div style="transform-origin: 1.2rem 1.5rem;" class="mx-auto transition ease-in-out transform bg-white shadow w-72 sm:w-auto speakers__item group -rotate-3">
            <div class="border-4 border-white speakers__photo">
              <img src="{photo}" alt="name" class="transition duration-300 grayscale filter group-hover:grayscale-0">
            </div>
            <div class="px-2 pb-2 bg-white">
              <div class="text-xl font-bold text-center truncate speakers__name">{name}</div>
              <div class="text-sm text-center truncate speakers__designation">{designation}</div>
              <div class="text-sm text-center truncate speakers__organisation">{organisation}</div>
              {#if linkedin}
                <div class="flex justify-center text-blue-600 linkedin hover:text-blue-700">
                  <a href="{linkedin}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                      <line x1="8" y1="11" x2="8" y2="16"></line>
                      <line x1="8" y1="8" x2="8" y2="8.01"></line>
                      <line x1="12" y1="16" x2="12" y2="11"></line>
                      <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
                    </svg>
                  </a>
                </div>
              {/if}
            </div>
          </div>

          <img src="/assets/img/pin.svg" alt="pin" class="absolute w-10 h-10 top-4 left-4">

        </div>
      {/each}
    </div>

  </div>
{/each}
