<script>
    let stats = [
        {
            number: "7",
            title: "Days",
        },
        {
            number: "5000+",
            title: "Participants",
        },
        {
            number: "2000+",
            title: "Innovators"
        },
        {
            number: "200+",
            title: "Product Showcases"
        },
        {
            number: "40+",
            title: "Speakers"
        },
        {
            number: "30+",
            title: "Partners"
        },
        {
            number: "25+",
            title: "Programmes"
        },
    ]
</script>
<div class="stats">
    {#each stats as stat }
        <div class="item" data-one="{stat.color1}" data-two="{stat.color2}">
            <div class="number">{stat.number}</div>
            <div class="title">{stat.title}</div>
        </div>
    {/each}
</div>

<style lang="scss">
    $colors-one : (#FF1700, #FF8E00, #FFE400, #06FF00, #FFE400, #FF8E00, #FF1700);
    $colors-two : (#FF79CD, #AA2EE6, #23049D, #FFDF6B, #AA2EE6, #FF79CD, #FFDF6B);

    .stats{
        display: flex;
        flex-wrap: wrap;
        margin-top: 5rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;

        .item{
            width: 10rem;
            height: 10rem;
            position: relative;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @for $i from 1 through 7 {
                &:nth-child(#{$i}){
                    &::before {
                        background-color: nth($colors-two, $i);
                    }
                    &::after {
                        background-color: nth($colors-one, $i);
                    }
                }
            }

            &:hover{
                &::before {
                    transform: rotateZ(45deg);
                }
                &::after {
                    transform: rotateZ(30deg);
                }
            }

            &::before{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -10;
                transform: rotateZ(30deg);
                box-shadow: 1px 1px 4px #000;
                transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
                transform: rotateZ(45deg);
                box-shadow: 1px 1px 10px 3px #0005;
                transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            .number{
                font-size: 2rem;
                font-weight: 900;
                font-family: 'Josefin Sans';
            }
        }
    }
</style>
