<script>
import { onMount } from "svelte";


    export let openIndex; 
    export let index;
    export let event;
    export let setOpenIndex;

    let card_wrapper;
    let card_container;

    const handleCard = () => {
        if(!card_wrapper || !card_container) return;

        if(openIndex !== index) {
            card_wrapper.style.width =
                '23rem';
            card_container.style.display='none';
            card_wrapper.style.backgroundColor = 'black';
            card_wrapper.style.height = '400px';
        } else {
            card_container.style.display='block';
            card_wrapper.style.width = 'calc(100vw - 3rem)';
            card_wrapper.style.height = '80vh';
            card_wrapper.style.backgroundColor = 'rgb(30 41 59)';
        }
    }
    onMount(() => {
        handleCard();
        //card_container.style.display = 'block';
        card_wrapper.style.width =
            '23rem';
    })
   
    $: openIndex == index, handleCard();

</script>
<div bind:this="{card_wrapper}" class="card mx-auto overflow-hidden transition-all duration-500 ease-in-out rounded-3xl rounded-bl-none flex items-center" 
    style="{ 
    
        openIndex == index || openIndex == -1 ? 'display:flex;height:400px;':'display:none;'
    }
   "
    >
    <!-- {openIndex == index ? 'width-fit-content' : 'width:23rem'}" -->
    <span class="ui" style="{openIndex == index ? 'display:none;' : ''}"></span>
    <div class="thumbnail bg-slate-800 relative h-full flex flex-col items-center md:justify-center p-3" 
    
    on:click="{() => {
        if(openIndex == index) setOpenIndex(-1)
        else setOpenIndex(index)
        }
    }"
    >
    <div class="absolute bg-cover h-full w-full" style="min-width: 23rem;{openIndex == index ? '' : `background-image: url('/img/gallery/${event.cover}`}');filter: brightness(0.3);"></div>
        <h2 class="font-josefin text-center w-56 title text-2xl" style="filter: brightness(1);">{event.title}</h2>
        <p class="font-josefin text-white mt-4 view" style="filter: brightness(1);">{openIndex !== index ? 'View More':'Go back'}</p>
    </div>
    <div bind:this="{card_container}" class="card-container z-10 grid place-items-center scrollbar overflow-x-hidden h-full p-6">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 2xl:grid-cols-3">
            {#each event.images as image}
            <div class="grid place-items-center">
                <img src={'/img/gallery/' + image} class="rounded-3xl rounded-bl-none border-2" width="500" alt="event pic" />
            </div>
            {/each}
        </div>
    </div>
    </div>
<style lang="scss">
    .scrollbar {
    &::-webkit-scrollbar-track
    {
      background-color: black;
      border-radius: 10px;
    }

    &::-webkit-scrollbar
    {
      width: 6px;
      height: 10px;
      background-color: black;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: #fff5;
      border-radius: 10px;
    }
  }
    .thumbnail {
        &:hover {
            opacity: 0.8;
            cursor: pointer;
            .view {
                text-decoration: underline;
            }
        } 
        width: 23rem;
        background-size: cover;
    }
   
    .card {
        // height: calc(100vh - 8rem); 
        // min-height: calc(100vh - 13rem);    
        min-width:23rem;
        width:23rem;
        // &:nth-of-type(4n) {
        // background-color: rebeccapurple;
        // }
        // &:nth-of-type(4n+1) {
        // background-color: #F9421E;
        // }
        // &:nth-of-type(4n+2) {
        // background-color: #00AEEF;
        // }
        // &:nth-of-type(4n+3) {
        // background-color: #22B244;
        // }
    }
    .card-container {
        width: calc(100vw - 21rem);
    }
   
    @media screen and (max-width:768px) {
        .card {
            //transform: rotateZ(90deg);
            //height: 80vw;
            height: 290px;
            min-height: 0;
            border-left: 2px solid yellow;
            margin-top: -80px;
            margin-bottom: 40px;
            flex-direction: column;
            padding-right: 30px !important;
            align-items: center;
            justify-content: center;
        }
      
        .ui {
            &::before{
            display: block;
            width: 60px;
            height: 60px;
            background-color: transparent;
            content: '';
            
            }
        }
        
        .thumbnail {
            //transform: rotateZ(-90deg);
            //margin-left: -80px;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            margin-top: -60px;
            
            justify-content: center;
            
        }
        .card-container {
            //transform: rotateZ(-90deg);
            margin-top: -80px;
            width: 100%;
            overflow-y: auto;
        }
    }
    @media screen and (max-width:410px) {
        .card {
            width: 100vw;
            max-width: 80vw !important;
            object-fit: contain;
        }
    }
</style>