/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');

*{
  touch-action: manipulation;
}

body{
  @apply bg-black text-white;
  overflow-x: hidden;
}

#particle_container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .25;
    filter: blur(1px);
    background-image: url("/img/iwkbg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 50%);

  }
}

.swiper{
  overflow: inherit !important;

  .swiper-button-next, .swiper-button-prev {
    width: var(--swiper-navigation-size);
    background-color: black;
    border: 2px solid;
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);

    &:hover {
      background-color: green;
    }

    &::after{
      transform: scale(.5);
    }
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -40px !important;
  }

  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -40px !important;
  }

}

.text-ui-sans-serif {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}